
<br/>
<h2 class="text-center text-secondary font-weight-bold">Syllabus - What you will learn from this course</h2>

<div class="container" >
    
      <!--1-->
      <div>
        <br/>
        <h3 class="text-success">WEEK 1</h3> 
        <hr  style="border:1px solid rgb(18, 218, 35) ; ">
    </div>
  <div>
    
    <strong>
    <p class="text-secondary"><img class="materialboxed" width="40" src="/assets/clk.png">  1 hour to complete  </p>
    </strong>
    <h4 class="font-weight-bold">Welcome</h4>
    <p>Regression is one of the most important and broadly used machine learning and statistics tools out there. It allows you to make predictions from data by learning the relationship between features of your data and some observed, continuous-valued response. Regression is used in a massive number of applications ranging from predicting stock prices to understanding gene regulatory networks.This introduction to the course provides you with an overview of the topics we will cover and the background knowledge and resources we assume you have.</p>
    <!--
    <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  5 videos (Total 20 min), 3 readings </p> -->

    <div id="accordion">

        <div id="headingOne">
            <h5 class="mb-0">
                <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  3 videos (Total 20 min), 3 readings , 1 quiz
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    SEE ALL
                </button>
                </p>
                
            </h5>
        </div>
            <hr>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="60" src="/assets/play.png">  3 videos </p>
                </strong>
                <ul class="text-secondary">
                    <li>Welcome! 1m</li>
                    <li>What is the course about? 3m</li>
                    <li>Outlining the first half of the course 5m</li>
                </ul>
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/book.png">  3 readings </p>
                </strong>
                <ul class="text-secondary">
                    <li>Important Update regarding the Machine Learning Specialization 10m</li>
                    <li>Slides presented in this module 10m</li>
                    <li>Outlining the first half of the course 5m</li>
                </ul> 
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/q.jpg">  3 Quiz </p>
                </strong>
                <ul class="text-secondary">
                    <li>Assessing Performance 10m</li>
                    
                </ul> 
            </div>
        </div>
    
    </div>
  </div>    

<!--2-->

<!--1-->
<div>
    <strong>
    <p class="text-secondary"><img class="materialboxed" width="40" src="/assets/clk.png">  2 hour to complete  </p>
    </strong>
    <h4 class="font-weight-bold">Assessing Performance</h4>
    <p>The next step in moving beyond simple linear regression This includes things like fitting a polynomial to your data, or capturing seasonal changes in the response value. You will also learn how to incorporate multiple input variables . You will then be able to describe how all of these models can still be cast within the linear regression framework, but now using multiple "features". Within this multiple regression framework, you will fit models to data, interpret estimated coefficients, and form predictions.</p>
    <!--
    <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  5 videos (Total 20 min), 3 readings </p> -->

    <div id="accordion">

        <div id="headingTwo">
            <h5 class="mb-0">
                <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  3 videos (Total 20 min), 3 readings , 1 quiz
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    SEE ALL
                </button>
                </p>
                
            </h5>
        </div>
            <hr>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="60" src="/assets/play.png">  3 videos </p>
                </strong>
                <ul class="text-secondary">
                    <li>Welcome! 1m</li>
                    <li>What is the course about? 3m</li>
                    <li>Outlining the first half of the course 5m</li>
                </ul>
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/book.png">  3 readings </p>
                </strong>
                <ul class="text-secondary">
                    <li>Important Update regarding the Machine Learning Specialization 10m</li>
                    <li>Slides presented in this module 10m</li>
                    <li>Outlining the first half of the course 5m</li>
                </ul> 
                <hr>
                <strong>
                    <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/q.jpg">  3 Quiz </p>
                </strong>
                <ul class="text-secondary">
                    <li>Assessing Performance 10m</li>
                    
                </ul> 
            </div>
        </div>
    
    </div>
  </div>    

</div>


<!--...............week 2...................-->

<div class="container" >
    
    <!--1-->
    <div>
      <br/>
      <h3 class="text-success">WEEK 2</h3> 
      <hr  style="border:1px solid rgb(18, 218, 35) ; ">
  </div>
<div>
  
  <strong>
  <p class="text-secondary"><img class="materialboxed" width="40" src="/assets/clk.png">  1 hour to complete  </p>
  </strong>
  <h4 class="font-weight-bold">Multiple Regression</h4>
  <p>Regression is one of the most important and broadly used machine learning and statistics tools out there. It allows you to make predictions from data by learning the relationship between features of your data and some observed, continuous-valued response. Regression is used in a massive number of applications ranging from predicting stock prices to understanding gene regulatory networks.This introduction to the course provides you with an overview of the topics we will cover and the background knowledge and resources we assume you have.</p>
  <!--
  <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  5 videos (Total 20 min), 3 readings </p> -->

  <div id="accordion">

      <div id="heading3">
          <h5 class="mb-0">
              <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  3 videos (Total 20 min), 3 readings , 1 quiz
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  SEE ALL
              </button>
              </p>
              
          </h5>
      </div>
          <hr>
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
          <div class="card-body">
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="60" src="/assets/play.png">  3 videos </p>
              </strong>
              <ul class="text-secondary">
                  <li>Welcome! 1m</li>
                  <li>What is the course about? 3m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul>
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/book.png">  3 readings </p>
              </strong>
              <ul class="text-secondary">
                  <li>Important Update regarding the Machine Learning Specialization 10m</li>
                  <li>Slides presented in this module 10m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul> 
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/q.jpg">  3 Quiz </p>
              </strong>
              <ul class="text-secondary">
                  <li>Assessing Performance 10m</li>
                  
              </ul> 
          </div>
      </div>
  
  </div>
</div>    

<!--2-->

<!--1-->
<div>
  <strong>
  <p class="text-secondary"><img class="materialboxed" width="40" src="/assets/clk.png">  2 hour to complete  </p>
  </strong>
  <h4 class="font-weight-bold">Simple Linear Regression</h4>
  <p>The next step in moving beyond simple linear regression This includes things like fitting a polynomial to your data, or capturing seasonal changes in the response value. You will also learn how to incorporate multiple input variables . You will then be able to describe how all of these models can still be cast within the linear regression framework, but now using multiple "features". Within this multiple regression framework, you will fit models to data, interpret estimated coefficients, and form predictions.</p>
  <!--
  <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  5 videos (Total 20 min), 3 readings </p> -->

  <div id="accordion">

      <div id="heading4">
          <h5 class="mb-0">
              <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  3 videos (Total 20 min), 3 readings , 1 quiz
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  SEE ALL
              </button>
              </p>
              
          </h5>
      </div>
          <hr>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
          <div class="card-body">
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="60" src="/assets/play.png">  3 videos </p>
              </strong>
              <ul class="text-secondary">
                  <li>Welcome! 1m</li>
                  <li>What is the course about? 3m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul>
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/book.png">  3 readings </p>
              </strong>
              <ul class="text-secondary">
                  <li>Important Update regarding the Machine Learning Specialization 10m</li>
                  <li>Slides presented in this module 10m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul> 
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/q.jpg">  3 Quiz </p>
              </strong>
              <ul class="text-secondary">
                  <li>Assessing Performance 10m</li>
                  
              </ul> 
          </div>
      </div>
  
  </div>
</div>    

</div>

<!--........................week 3..............-->



<div class="container" >
    
    <!--1-->
    <div>
      <br/>
      <h3 class="text-success">WEEK 3</h3> 
      <hr  style="border:1px solid rgb(18, 218, 35) ; ">
  </div>
<div>
  
  <strong>
  <p class="text-secondary"><img class="materialboxed" width="40" src="/assets/clk.png">  1 hour to complete  </p>
  </strong>
  <h4 class="font-weight-bold">Multiple Regression</h4>
  <p>Regression is one of the most important and broadly used machine learning and statistics tools out there. It allows you to make predictions from data by learning the relationship between features of your data and some observed, continuous-valued response. Regression is used in a massive number of applications ranging from predicting stock prices to understanding gene regulatory networks.This introduction to the course provides you with an overview of the topics we will cover and the background knowledge and resources we assume you have.</p>
  <!--
  <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  5 videos (Total 20 min), 3 readings </p> -->

  <div id="accordion">

      <div id="heading5">
          <h5 class="mb-0">
              <p class="text-muted"><img class="materialboxed" width="40" src="/assets/book.png">  3 videos (Total 20 min), 3 readings , 1 quiz
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  SEE ALL
              </button>
              </p>
              
          </h5>
      </div>
          <hr>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
          <div class="card-body">
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="60" src="/assets/play.png">  3 videos </p>
              </strong>
              <ul class="text-secondary">
                  <li>Welcome! 1m</li>
                  <li>What is the course about? 3m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul>
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/book.png">  3 readings </p>
              </strong>
              <ul class="text-secondary">
                  <li>Important Update regarding the Machine Learning Specialization 10m</li>
                  <li>Slides presented in this module 10m</li>
                  <li>Outlining the first half of the course 5m</li>
              </ul> 
              <hr>
              <strong>
                  <p class="text-secondary"><img class="materialboxed" width="30" src="/assets/q.jpg">  3 Quiz </p>
              </strong>
              <ul class="text-secondary">
                  <li>Assessing Performance 10m</li>
                  
              </ul> 
          </div>
      </div>
  
  </div>
</div>    

<!--2-->

<!--1-->
 

</div>