<br/>
<br/>
<div class="container" >
<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #22c4da">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #87e274  ">
           <span class="text-success" style="font-size:50px; font-weight:bold">Certificate of Completion</span>
           <br><br>
           <span style="font-size:30px"><i>This is to certify that</i></span>
           <br><br>
           <span  style="font-size:30px"><b>Pallavi Kanaki</b></span><br/><br/>
           <span style="font-size:30px"><i>has completed the course</i></span> <br/><br/>
           <span   style="font-size:30px"><b>Python</b></span> <br/><br/>
           <span style="font-size:25px">with score of <b >99%</b></span> <br/>
           <span style="font-size:25px"><i>dated</i></span><br>
           <span  style="font-size:30px">10 jun 2020</span>
    </div>
    </div>
</div>   

<br/><br/>